@import "scss/main.scss";

nav#mainNav {
    z-index: 1000;
    // background-color: red;
    height: 100px;
    width: 95%;

    @include center(fixed,true,false);

    display: flex;

    align-items: center;
    justify-content: space-between;

    .loginSignup {
        display: flex;
        align-items: center;
        gap: 20px;

        .LoginButton {
            @include boldStyle;
            color: $BlueMain;
        }
        .BlueButton {
            font-weight: bold;
            height: 40px;
            border-radius: 15px;
            color: $BlueLight;
            box-shadow: 8px 8px $BlueLight;
        }
    }
}
