@import "scss/main.scss";

section#OurEvent {
    background-image: linear-gradient(to bottom, $SkyHeader 0%, $SkyPhase2 100%);
    @include center(flex);

    height: 100vh;
    .main {
        $width: 70vw;
        width: $width;
        max-width: 100vw;

        min-height: fit-content;
        height: 80%;

        border-radius: $width * 3/100;
        outline: 10px solid rgba($White, 50%);
        background: linear-gradient(180deg, rgba(255, 255, 255, 1) 12%, rgba(255, 255, 255, 0.15) 84%);
        backdrop-filter: blur(4px);
        overflow: hidden;

        // I use generator, dont comment idk either
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 90px 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;

        header {
            grid-area: 1 / 1 / 2 / 2;
        }
        .body {
            grid-area: 2 / 1 / 3 / 2;
        }

        // a text say "Our event" and the menu button
        header {
            @include center(flex, false, true);
            .viewAll {
                margin-left: 5%;
                .viewAll.content {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    h2 {
                        white-space: nowrap;
                        color: $BlueLight;
                    }
                }
            }
            position: relative;
            h1 {
                @include center;
                color: $BlueMain;
                text-align: center;
                font-size: 2rem;
            }

            border-bottom: 10px solid $BlueLight;
        }
        // the actual inside/content
        .body {
            display: grid;
            //you will need to use clamp in the future
            grid-template-columns: 1fr 10fr 1fr;
            grid-template-rows: 10fr 1fr;
            grid-column-gap: 30px;
            grid-row-gap: 0px;

            .arrow {
                @include center(flex);
            }

            // I dont know either, I use a generator
            .left {
                grid-area: 1 / 1 / 2 / 2;
            }
            .contentBox {
                grid-area: 1 / 2 / 2 / 3;
            }
            .right {
                grid-area: 1 / 3 / 2 / 4;
            }
            .dots {
                grid-area: 2 / 2 / 3 / 3;
            }

            // アニマシォン！！！！
            // allr this is confusing indeed so bear with me
            .arrow .clickArea.swipe.active {
                $length: 10px;
                & > :first-child {
                    transition: all 0.2s ease-in-out 0s;
                    position: relative;
                }
                &.right {
                    @include ExtraClickRect(0, $length, 0, 0);
                    & > :first-child {
                        right: 0;
                    }
                    &:hover > :first-child {
                        right: -$length;
                    }
                }
                &.left {
                    @include ExtraClickRect(0, 0, 0, $length);
                    & > :first-child {
                        left: 0;
                    }
                    &:hover > :first-child {
                        left: -$length;
                    }
                }
            }
            .arrow:not(.active) {
                opacity: 20%;
            }

            .contentBox {
                overflow-x: hidden;
                & > div {
                    width: 100%;
                    height: 100%;
                }
            }

            .dots {
                @include center(flex);
                gap: 40px;
                flex-wrap: nowrap;
                .dot {
                    $length: 25px;
                    border-radius: 50%;
                    width: $length;
                    height: $length;
                    background-color: $BlueLight;
                    &.active {
                        background-color: $BlueMain;
                    }
                }
            }
        }

        z-index: 100;
    }
    position: relative;
    .background {
        & * {
            position: absolute;
        }
        #c1 {
            top: 0;
            right: 0;
        }
        #c2 {
            bottom: -100px;
            right: 500px;
            height: 600px;
        }
    }
}
