@import "scss/main.scss";

.mainSection#Sesepuh {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    //geenerated
    background: linear-gradient(
        180deg,
        rgb(14.902% 12.157% 12.157%) 0%,
        rgb(14.905% 12.171% 12.171%) 6.25%,
        rgb(14.914% 12.212% 12.212%) 12.5%,
        rgb(14.93% 12.281% 12.281%) 18.75%,
        rgb(14.951% 12.377% 12.377%) 25%,
        rgb(14.979% 12.502% 12.502%) 31.25%,
        rgb(15.012% 12.653% 12.653%) 37.5%,
        rgb(15.052% 12.832% 12.832%) 43.75%,
        rgb(15.098% 13.039% 13.039%) 50%,
        rgb(15.15% 13.274% 13.274%) 56.25%,
        rgb(15.208% 13.536% 13.536%) 62.5%,
        rgb(15.273% 13.825% 13.825%) 68.75%,
        rgb(15.343% 14.142% 14.142%) 75%,
        rgb(15.42% 14.487% 14.487%) 81.25%,
        rgb(15.502% 14.859% 14.859%) 87.5%,
        rgb(15.591% 15.259% 15.259%) 93.75%,
        rgb(15.686% 15.686% 15.686%) 100%
    );
    background-color: rgb(38, 31, 31);
    background-color: rgb(40, 40, 40);
    > .title {
        @include center(flex);
        flex-direction: column;
        h1,
        h2 {
            line-height: 100%;
        }
        h1 {
            color: $White;
            font-size: 5rem;
            font-weight: 900;
            text-shadow:
                0 0 0.1em $White,
                0.04em 0.05em 0 $DirtCream;
        }
        h2 {
            font-size: 2rem;
            color: $DirtCream;
            text-shadow: 0 0 0.5em $DirtCream;
        }
    }
    .cardsRow {
        width: 80vw;
        .holder {
            display: flex;
            flex-wrap: nowrap;
            gap:50px;
        }
    }
}
