// Colors for background (sky and ground)
$SkyHeader: #9bc9ff;

// Color palete
$BlueMain: #096f8e;
$BlueLight: #6aadc8;
$White: white; //for controll

// font: inter
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
    margin: 0;
    font-family: "Inter", serif;
}

body {
    overflow: overlay;
    &.Page {
        width: 100%;
        height: 100%;
        margin: 0;
    }
}

header,
section {
    width: 100%;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

img{
    // pointer-events: none;
}


// h1,
// .h1 {
// }

// h2,
// .h2 {
//     // font-size: 40px;
// }

// h3,
// .h3 {
// }

.centerFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

// styles

@mixin boldStyle {
    & *,
    & {
        //for specifiying "it" and its child got this property
        font-weight: 900;
    }
}

@mixin shadowStyle($main, $back) {
    font-weight: 900;
    // text-shadow: 5px 6px 0px $back;
    text-shadow: 0.045em 0.055em 0px $back;
    color: $main;
}

@mixin shadowBlue() {
    @include shadowStyle($White, $BlueMain);
}
