// Colors for background (sky and ground)
$SkyHeader: #9bc9ff;
$SkyPhase2: #b1f1ff;

// Color palete
$BlueMain: #096f8e;
$BlueLight: #6aadc8;
$White: white; //for controll

// font: inter
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
    margin: 0;
    font-family: "Inter", serif;
}

.Page>*{
    overflow-y: visible;
    overflow-x: clip;
}

body {
    overflow: overlay;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    margin: 0;
}

header,
section {
    &.mainSection {
        width: 100%;
        min-height: 100vh;
    }
}

.HomePage {
    background-color: $SkyHeader;
}

a {
    text-decoration: none;
}

img {
    // pointer-events: none;
}

// h1,
// .h1 {
// }

// h2,
// .h2 {
//     // font-size: 40px;
// }

// h3,
// .h3 {
// }

// styles

@mixin clickPoint($point: true) {
    @if $point {
        &:hover {
            cursor: pointer;
        }
    }
}

@mixin ExtraClickBox($size, $point: true) {
    width: fit-content;
    height: fit-content;
    padding: $size;
    margin: $size * -1;
    @include clickPoint($point);
}
@mixin ExtraClickRect($sizeT, $sizeR, $sizeB, $sizeL, $point: true) {
    width: fit-content;
    height: fit-content;
    padding: $sizeT $sizeR $sizeB $sizeL;
    margin: $sizeT * -1 $sizeR * -1 $sizeB * -1 $sizeL * -1;
    @include clickPoint($point);
}

@mixin center($type: absolute, $x: true, $y: true) {
    @if $type == flex {
        display: flex;
        @if $x {
            justify-content: center;
        }
        @if $y {
            align-items: center;
        }
    } @else {
        // center fixed
        position: $type;
        @if $x {
            left: 50%;
            transform: translate(-50%, 0);
        }
        @if $y {
            top: 50%;
            transform: translate(0, -50%);
        }
        @if $x and $y {
            transform: translate(-50%, -50%);
        }
    }
}
.centerFlex {
    @include center(flex);
}

@mixin boldStyle {
    & *,
    & {
        //for specifiying "it" and its child got this property
        font-weight: 900;
    }
}

@mixin shadowStyle($main, $back) {
    font-weight: 900;
    // text-shadow: 5px 6px 0px $back;
    text-shadow: 0.045em 0.055em 0px $back;
    color: $main;
}

@mixin shadowBlue() {
    @include shadowStyle($White, $BlueMain);
}
